/*This resets the borders of everything. The star means do it to everything. We do this to make sure there are no strange gaps between things*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's width/height */
}
