/*This resets the borders of everything. The star means do it to everything. We do this to make sure there are no strange gaps between things*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's width/height */
}

/* Defining the color variables */
:root {
  --primary-color: #717ec3; /* Blue */
  --secondary-color: #643c63; /* Dark Pinky Purple */
  --background-color1: #fff5fe; /* Light Pink */
  --background-color2: #fffcff; /* Off-white */
  --text-color: #0b0033; /* Navy Blue */
}

body {
  font-family: Arial, sans-serif;
  background-color: --background-color1;
  color: --text-color; 
  line-height: 1.6;
  margin: 20px; /* Adds space around the entire page */
}
